@using CommentTrees.Helpers
@model CommentTrees.Models.View.ItemViewModel

@{
    ViewBag.Title = Model.Name;
    Layout = "_Layout";
}

<h2>@Model.Name</h2>

<div style="margin-left: -10px;">
    @Html.PrintTree(Model)
</div>

<form method="post" style="margin-top: 5px;" asp-action="Comment">
    <input type="hidden" name="itemId" value="@Model.Id"/>
    <input type="text" name="text"/>
    <input type="submit" value="Comment"/>
</form>